
<div id="overlay">
     <div>
          <textarea class="textContent" name="name" rows="8" cols="40"></textarea>
          <button class="submitButton">Submit</button>
          <button class="submitButton nevermindButton">Nevermind</button>
     </div>
</div>
