
<div id="overlay">
     <div>
        <textarea class="textContent" id="textContent" name="name" rows="8" cols="40"></textarea>
        <button class="submitButton" id="submitButton">Submit</button>
        <button class="submitButton nevermindButton">Nevermind</button>
     </div>
</div>
