<div class="post">
  <div class="nameText">
    <p>Posted By: Name</p>
  </div>
  <div class="newPost">
    <p class="postText">New message Lorem ipsum dolor sit amet.</p>
  </div>
</div>
<div class="post">
  <div class="nameText">
    <p>Posted By: Name</p>
  </div>
  <div class="newPost">
    <p class="postText">New message Lorem ipsum dolor sit amet.</p>
  </div>
</div>
<div class="post">
  <div class="nameText">
    <p>Posted By: Name</p>
  </div>
  <div class="newPost">
    <p class="postText">New message Lorem ipsum dolor sit amet.</p>
  </div>
</div>
<div class="post">
  <div class="nameText">
    <p>Posted By: Name</p>
  </div>
  <div class="newPost">
    <p class="postText">New message Lorem ipsum dolor sit amet.</p>
  </div>
</div>
