<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>{{title }}</title>
  <link rel="stylesheet" href="/css/style.css">
  <link href='https://fonts.googleapis.com/css?family=Candal' rel='stylesheet' type='text/css'>
  {{#if ENV_DEVELOPMENT}}
    <script src="http://localhost:35729/livereload.js"></script>
  {{/if}}
</head>
  <body>
    <div class="jumbo">
      <h1 class="mainTitle">FresNode</h1>
      <div id="status"></div>
      <div class="loginDiv">
        <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
        </fb:login-button>
      </div>
      <button class="postButton">Post</button>
    </div>
    <div class="container">

      {{{body}}}


    </div>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="/js/script.js"></script>
  </body>
</html>
